/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #7948ff;
  --ifm-color-primary-dark: #6432ff;
  --ifm-color-primary-darker: #5a26ff;
  --ifm-color-primary-darkest: #4010e6;
  --ifm-color-primary-light: #8e5eff;
  --ifm-color-primary-lighter: #9a6aff;
  --ifm-color-primary-lightest: #b590ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(121, 72, 255, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9b7aff;
  --ifm-color-primary-dark: #8560ff;
  --ifm-color-primary-darker: #7a53ff;
  --ifm-color-primary-darkest: #5c2bff;
  --ifm-color-primary-light: #b194ff;
  --ifm-color-primary-lighter: #bda1ff;
  --ifm-color-primary-lightest: #d9c8ff;
  --docusaurus-highlighted-code-line-bg: rgba(155, 122, 255, 0.2);
}

/* Sidebar Method labels */
.api-method>.menu__link {
  align-items: center;
  justify-content: start;
}

.api-method>.menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get>.menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.put>.menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.post>.menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete>.menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.patch>.menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

/* Show lock icon in heading for authenticated endpoints */
article:has(.openapi-security__details) .openapi__heading::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  vertical-align: middle;
  background-color: var(--ifm-color-primary);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z'/%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}